.container{
    width: 100%;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    width: 50%;
    height: 83vh;
    padding: 30px;
    padding-top: 50px;
}

.left img{
    height: 100%;
    border-radius: 50%;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right .model_name{
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    column-gap: 100px;
}

.right .model_name .model_found{
    color: rgb(52, 52, 52);
    font-size: 13px;
    transition: all ease .8s;
}

.right .model_name .found{
    color: silver;
}

.right .right_middle{
    width: 100%;
    display: flex;
    column-gap: 70px;
    align-items: center;
}

.right .upload_button{
    padding-top: 40px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}