*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

body{
    background-color: rgb(15, 15, 15);
}

body::-webkit-scrollbar {
    display: none;
}

a{
    text-decoration: none !important;
}