.container{
    width: 60%;
    background-color: #0E0E0E;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

form{
    width: 100%;
    background-color: #050505;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}

input{
    width: 90%;
    font-size: 20px;
    line-height: 50px;
    padding-left: 10px;
    outline: none;
    border: 1px red solid;
    border-radius: 10px;
}

.lower-container{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.count{
    border: 2px solid red;
    border-radius: 20px;
    width: 30%;
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.list-string{
    width: 100%;
    max-height: 1000px;
}

#string-area{
    width: 100%;
    border: none;
    font-size: 20px;
    resize: none;
    outline: none;
    height: 1000px;
}

button{
    width: 90%;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    background-color: red;
    color: #050505;
    border-radius: 30px;
    transition: all ease .3s;
}

button:hover{
    background-color: #151515;
    color: white;
    cursor: pointer;
}