*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    overflow: hidden;
}

.header_top{
    background-color: rgba(5, 5, 5);
    height: 20px;
    font-size: 10px;
    color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_main{
    background-color: rgba(15, 15, 15);
    height: 120px;
}

.upper_main{
    height: 70px;
    background-color: rgba(15, 15, 15);
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 20px;
    z-index: 990;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.75);
}
.upper_main.fixed{
    position: fixed;
    top: 0;
}

.lower_main{
    height: 50px;
    background-color: rgba(25, 25, 25);
    width: 100%;
    position: absolute;
    top: 90px;
    z-index: 970;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.lower_main a{
    background-color: transparent;
    color: silver;
    font-weight: 500;
}

.lower_main i{
    background-color: transparent;
    color: red;
    font-size: 5px;
}

.lower_main.fixed{
    position: fixed;
    top: 30px;
}

/* Esneme Animasyonu */
@keyframes headerStretch {
    0% {
        height: 70px;
    }
    50% {
        height: 60px;
    }
    100% {
        height: 70px;
    }
}

@keyframes lowerStretch {
    0% {
        height: 50px;
    }
    50% {
        height: 40px;
    }
    100% {
        height: 50px;
    }
}

.upper_main.stretch {
    animation: headerStretch 0.3s ease;
}

.lower_main.stretch {
    animation: lowerStretch 0.3s ease;
}

.upper_main_left{
    padding-left: 100px;
    color: white;
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.upper_main_left i{
    font-size: 25px;
}
.upper_main_left i:hover{
    cursor: pointer;
}
.header_main .menu{
    display: none;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 10px;
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    position: absolute;
    left: 70px;
    top: 75px;
    width: 250px;
    border: 1px solid silver;
    z-index: 980;
}
.header_main .menu.fixed{
    position: fixed;
}
.header_main .menu a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: whitesmoke;
}
.header_main .menu a i{
    color: red;
}
.header_main .menu hr{
    background-color: darkred;
}
.header_main .menu .menu_item_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 25px;
    border-radius: 20px;
}

.upper_main_left .logo{
    font-size: 40px;
    font-weight: 500;
    display: flex;
}
.upper_main_left .logo .flix{
    color: red;
    font-weight: 700;
}
.upper_main_left .logo:hover{
    cursor: pointer;
}

.upper_main_center{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upper_main_center #responsive_search{
    display: none;
}
.upper_main_center .div_search{
    background-color: rgb(55, 55, 55);
    height: 40px;
    width: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-left: 15px;
    position: relative;
}
.upper_main_center i{
    background-color: rgb(55, 55, 55);
    font-size: 20px;
    color: whitesmoke;
}
.upper_main_center i:hover{
    cursor: pointer;
}
.upper_main_center input{
    width: 565px;
    height: 38px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: unset;
    font-size: 20px;
    padding-left: 10px;
    background-color: rgb(55, 55, 55);
    color: whitesmoke;
}
.upper_main_center input:focus{
    outline: none;
}

.upper_main_center .search-results-container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    overflow: hidden;
}

.search-results-container .search-result-item-video{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    transition: .3s ease all;
}
.search-results-container .search-result-item-video:hover{
    cursor: pointer;
    background-color: rgb(25, 25, 25);
}
.search-result-item-video .search-result-video-name{
    display: flex;
    align-items: center;
    width: 70%;
    overflow: hidden;
    background-color: transparent;
}
.search-result-item-video .search-result-video-image{
    display: flex;
    align-items: center;
    width: 20%;
}
.search-result-item-video .search-result-video-image img{
    width: 100%;
    border-radius: 5px;
}

.search-results-container2{
    display: none;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 70px;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(5px);
}
.search-results-container2 .search-result-item-video{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    transition: .3s ease all;
    background-color: transparent;
}
.search-results-container2 .search-result-item-video:hover{
    cursor: pointer;
}
.search-results-container2 .search-result-item-video .search-result-video-name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-items: center;
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    background-color: transparent;
}
.search-results-container2 .search-result-item-video .search-result-video-image{
    display: flex;
    align-items: center;
    width: 30%;
}
.search-results-container2 .search-result-item-video .search-result-video-image img{
    width: 100%;
    border-radius: 5px;
}

.upper_main_right{
    padding-right: 100px;
}
.upper_main_right .account{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upper_main_right i{
    font-size: 45px;
    color: whitesmoke;
}
.upper_main_right i:hover{
    cursor: pointer;
}

.upper_main_right .account-container{
    position: absolute;
    right: 50px;
    top: 70px;
    z-index: 999;
    display: none;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    width: 250px;
    padding: 10px;
    padding-top: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(15, 15, 15);
    border: 5px solid #050505;
    border-top: unset;
}

.upper_main_right .account-container .name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: red;
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    background-color: transparent;
}

.upper_main_right .account-container .account-line{
    width: 100%;
    background-color: darkred;
    height: 2px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.upper_main_right .account-container .favourite-videos, .upper_main_right .account-container .log-out{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    font-size: 23px !important;
    padding: 5px 0;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: all .3s ease;
}
.upper_main_right .account-container .favourite-videos:hover, .upper_main_right .account-container .log-out:hover{
    background-color: #303030;
}
.upper_main_right .account-container .favourite-videos i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px !important;
    background-color: transparent;
    color: rgb(255, 31, 76);
}
.upper_main_right .account-container .log-out i{
    display: flex;
    align-items: center;
    font-size: 20px !important;
    background-color: transparent;
    color: red;
}

.mobile-search-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    background-color: black;
    padding: 0 15px;
    box-shadow: 0px 300px 70px 1000px rgba(0,0,0,0.75);
    display: none;
    align-items: center;
    justify-content: space-between;
}

.mobile-search-container .div_search{
    background-color: rgb(55, 55, 55);
    height: 40px;
    width: 280px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-left: 15px;
}
.mobile-search-container i{
    background-color: rgb(55, 55, 55);
    font-size: 20px;
    color: whitesmoke;
}
.mobile-search-container i:hover{
    cursor: pointer;
}
.mobile-search-container input{
    width: 250px;
    height: 40px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: unset;
    font-size: 20px;
    padding-left: 10px;
    background-color: rgb(55, 55, 55);
    color: whitesmoke;
}
.mobile-search-container input:focus{
    outline: none;
}
.mobile-search-container .mobile-searchbar{
    background-color: transparent;
}
.mobile-search-container .cancel{
    color: red;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}

@media(max-width: 1200px){
    .upper_main_left{
        padding-left: 60px;
        column-gap: 20px;
    }
    .upper_main_center{
        width: 55%;
    }
    .upper_main_right{
        padding-right: 60px;
    }
}

@media(max-width: 900px){
    .upper_main_center{
        width: 50%;
    }
    .upper_main_center .div_search{
        width: 85%;
    }
}



@media (max-width: 750px){


    .upper_main_left{
        padding-left: 30px;
        column-gap: 20px;
    }
    .upper_main_center .div_search{
        display: none;
    }
    .upper_main_center #responsive_search{
        position: absolute;
        right: 110px;
        top: 23px;
        display: block;
        z-index: 1001;
        background-color: rgb(15, 15, 15);
        font-size: 25px;
    }
    .upper_main_right{
        padding-right: 30px;
    }
    .upper_main_right i{
        font-size: 35px;
    }

}


@media (max-width: 390px){
    .upper_main_left{
        padding-left: 25px;
        column-gap: 20px;
    }
    .upper_main_left .logo{
        font-size: 35px;
    }
    .upper_main_center .div_search{
        display: none;
    }
    .upper_main_center #responsive_search{
        position: absolute;
        right: 90px;
        top: 23px;
        display: block;
        z-index: 1001;
        background-color: rgb(15, 15, 15);
        font-size: 25px;
    }
    .upper_main_right{
        padding-right: 0;
    }
    .upper_main_right i{
        font-size: 35px;
    }

    .mobile-search-container{
        width: 100%;
        height: 13vh;
        background-color: black;
        padding: 0 15px;
    }

    .mobile-search-container .div_search{
        height: 37px;
        width: 250px;
        padding-left: 10px;
    }
    .mobile-search-container i{
        font-size: 19px;
    }
    .mobile-search-container input{
        width: 230px;
        height: 37px;
        font-size: 19px;
        padding-left: 10px;
    }
    .mobile-search-container .cancel{
        color: red;
        font-size: 18px;
        background-color: transparent;
        cursor: pointer;
    }
}