*{
    box-sizing: border-box;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slideshow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.slideshow-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    transition: all ease .3s;
}

.slideshow-inner:hover{
    cursor: pointer;
    background-color: rgb(158, 0, 0);
}

.slideshow-inner span{
    background-color: transparent;
    color: rgb(15, 15, 15);
    font-weight: 600;
}

.slideshow-inner i{
    background-color: transparent;
    color: rgb(15, 15, 15);
    font-weight: 600;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#list{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    list-style: none;
    padding: 0;
}

li{
    width: 100%;
}

li img{
    width: 100%;
    border-radius: 10px;
}

@media(max-width: 400px){
    .container{
      padding-left: 5px;
      padding-right: 5px;
    }

    #list{
        row-gap: 3px;
    }
  }