.container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
}

.account span{
    font-size: 25px;
    font-weight: 600;
}

#models-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0;
    width: 100%;
    list-style: none;
}

.model{
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: end;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.model img{
    width: 100%;
    border-radius: 30px;
}

.model .name{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid black;
}

.slideshow{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.slideshow-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    transition: all ease .3s;
}

.slideshow-inner:hover{
    cursor: pointer;
    background-color: rgb(158, 0, 0);
}

.slideshow-inner span{
    background-color: transparent;
    color: rgb(15, 15, 15);
    font-weight: 600;
}

.slideshow-inner i{
    background-color: transparent;
    color: rgb(15, 15, 15);
    font-weight: 600;
}

@media(max-width: 400px){
    #models-list{
        grid-template-columns: auto;
        column-gap: 0px;
        row-gap: 10px;
    }

    .upper_main_center{
        display: none !important;
    }

    .upper_main_right{
        width: 35%;
    }

    #responsive_search{
        display: none !important;
    }
  }