.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.container-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    column-gap: 30px;
}

#model-img{
    width: 500px;
    border-radius: 50%;
}

.container-top-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#model-name{
    font-size: 60px;
    color: white;
}

.line{
    width: 100%;
    height: 5px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: red;
    margin-bottom: 10px;
}

#model-type{
    font-size: 30px;
    font-style: italic;
    color: silver;
}

#model-video-count{
    font-style: italic;
    color: silver;
}

.container-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.media-selection{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75) inset;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

#media-video, #media-image{
    background-color: transparent;
    transition: all ease .3s;
}

#media-video:hover, #media-image:hover{
    color: red;
    cursor: pointer;
}

.active{
    color: red;
}

.container-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#collections-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0;
    width: 100%;
    list-style: none;
    padding-top: 30px;
}

.collection{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.thumbnail{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
}

.collection img{
    width: 100%;
    
    border-radius: 30px;
}

.collection .name{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: 600;
    color: black;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid black;
}

@media(max-width: 400px){
    #collections-list{
        grid-template-columns: auto;
        column-gap: 0px;
        row-gap: 10px;
    }
  }