/* From Uiverse.io by risabbir */ 
.nebula-input {
  position: relative;
  width: 350px;
}

.nebula-input .input {
  width: 100%;
  padding: 15px;
  border: 2px solid #801010;
  background: rgb(10, 10, 10);
  color: white;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
  transition: all 0.4s ease-out;
}

.nebula-input .user-label {
  position: absolute;
  left: 15px;
  top: 15px;
  pointer-events: none;
  color: silver;
  transition: all 0.4s ease-out;
  background: rgb(10, 10, 10);
  padding: 0 5px;
}

.nebula-input .input:focus {
  border-color: red;
  box-shadow:
    0 5px 8px rgba(246, 64, 64, 0.3),
    0 10px 20px rgba(245, 44, 44, 0.2),
    0 15px 40px rgba(249, 35, 35, 0.15),
    0 20px 60px rgba(249, 4, 4, 0.1);
}

.nebula-input .input:focus ~ .user-label,
.nebula-input .input:valid ~ .user-label {
  transform: translateY(-25px);
  font-size: 12px;
  color: red;
  background-color: rgb(15, 15, 15);
  left: 10px;
}

.nebula-particle {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  top: 50%;
  left: 10px;
  filter: blur(0.8px);
  mix-blend-mode: screen;
  transition: opacity 0.3s ease;
}

.nebula-input .input:focus ~ .nebula-particle {
  animation: nebula-float 2s forwards ease-out;
}

@keyframes nebula-float {
  0% {
    transform: translate(0, -50%) scale(0.8);
    opacity: 0;
    background: silver;
  }
  20% {
    opacity: 0.8;
  }
  100% {
    transform: translate(calc(var(--x) * 140px), calc(var(--y) * 35px))
      scale(1.1);
    opacity: 0;
    background: red;
  }
}

/* From Uiverse.io by Smit-Prajapati */ 
.radio-container {
  --main-color: rgb(176, 3, 3);
  --main-color-opacity: #f779791c;

  /* change this according inputs count */
  --total-radio: 3;

  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 0.5rem;
}
.radio-container input {
  cursor: pointer;
  appearance: none;
}
.radio-container .glider-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(27, 27, 27, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 1px;
}
.radio-container .glider-container .glider {
  position: relative;
  height: calc(100% / var(--total-radio));
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    var(--main-color) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: transform 0.5s cubic-bezier(0.37, 1.95, 0.66, 0.56);
}
.radio-container .glider-container .glider::before {
  content: "";
  position: absolute;
  height: 60%;
  width: 30%;
  top: 50%;
  transform: translateY(-50%);
  background: var(--main-color);
  filter: blur(10px);
}
.radio-container .glider-container .glider::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 250px;
  background: linear-gradient(
    90deg,
    var(--main-color-opacity) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.radio-container label {
  width: 250px;
  cursor: pointer;
  padding: 1rem;
  position: relative;
  color: grey;
  transition: all 0.3s ease-in-out;
}

.radio-container input:checked + label {
  color: var(--main-color);
}

.radio-container input:nth-of-type(1):checked ~ .glider-container .glider {
  transform: translateY(0);
}

.radio-container input:nth-of-type(2):checked ~ .glider-container .glider {
  transform: translateY(100%);
}

.radio-container input:nth-of-type(3):checked ~ .glider-container .glider {
  transform: translateY(200%);
}

.radio-container input:nth-of-type(4):checked ~ .glider-container .glider {
  transform: translateY(300%);
}

.radio-container input:nth-of-type(5):checked ~ .glider-container .glider {
  transform: translateY(400%);
}

.radio-container input:nth-of-type(6):checked ~ .glider-container .glider {
  transform: translateY(500%);
}

.radio-container input:nth-of-type(7):checked ~ .glider-container .glider {
  transform: translateY(600%);
}

.radio-container input:nth-of-type(8):checked ~ .glider-container .glider {
  transform: translateY(700%);
}

.radio-container input:nth-of-type(9):checked ~ .glider-container .glider {
  transform: translateY(800%);
}

.radio-container input:nth-of-type(10):checked ~ .glider-container .glider {
  transform: translateY(900%);
}


/* From Uiverse.io by vinodjangid07 */ 
.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-label input {
  display: none;
}
.file-upload-label svg {
  background-color: transparent;
  height: 50px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}
.file-upload-label {
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  padding: 30px 70px;
  border-radius: 40px;
  border: 2px dashed rgb(82, 82, 82);
}
.file-upload-design {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: silver;
  padding: 5px 15px;
  border-radius: 10px;
  color: black;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(48, 48, 48);
}


/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(10, 10, 10);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(255, 27, 27, 0.53);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 550px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(10, 10, 10);
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "UPLOAD";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

