.container{
    width: 60%;
    background-color: #050505;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
}

form{
    width: 100%;
    background-color: #050505;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}

input{
    width: 90%;
    font-size: 20px;
    line-height: 50px;
    padding-left: 10px;
    outline: none;
    border: 1px red solid;
    border-radius: 10px;
}

select{
    width: 90%;
    font-size: 20px;
    line-height: 50px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px ;
    outline: none;
}

button{
    width: 90%;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    background-color: red;
    color: #050505;
    border-radius: 30px;
    transition: all ease .3s;
}

button:hover{
    background-color: #151515;
    color: white;
    cursor: pointer;
}