.container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h2{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 100px;
    color: red;
    text-align: center;
}

#video{
    display: none;
}

.custom-btn {
    padding: 10px 20px;
    background-color: rgb(15, 15, 15);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid red;
    transition: all ease .6s;
    font-weight: 700;
    font-size: 20px;
}

.custom-btn:hover {
    background-color: red;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}

button{
    padding: 10px 20px;
    background-color: rgb(15, 15, 15);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid red;
    transition: all ease .6s;
    font-weight: 700;
    font-size: 20px;
}

button:hover {
    background-color: red;
}